<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}AUC{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <html>
<head>
<title>AUC</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Trail Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel='stylesheet' type='text/css' />
<!----font-Awesome----->
<link rel="stylesheet" href="fonts/css/font-awesome.min.css">
<!----font-Awesome----->  
</head>
<body>
  <div class="bottom-header">
    <div class="container">
       <div class="header_top-responsive">
         <div class="logo_responsive"><a href="index.html"><img src="images/logo1.png" alt=""/> </a></div>
       <div class="search_responsive">
        <input type="text" value="Enter a keyword" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter a keyword...';}">
        <input type="submit" value="">
      </div>
       <div class="clearfix"></div>
     </div>
       <div class="h_menu4"><!-- start h_menu4 -->
        <a class="toggleMenu" href="#">Menu</a>
        <ul class="nav">
          <li><a href="services.html">Equipos</a>
            <ul>
              <li><a href="futbol_convencional">Futbol Convencional</a></li>
              <li><a href="services.html">Futbol Adaptado</a></li>
              <li><a href="services.html">Futbol en Silla de Ruedas</a></li>
            </ul>
          </li>
          <li><a href="about.html">Actividades Extra</a></li>
          <li class="logo"><a href="/"><img src="images/logo.png" alt=""/></a></li>
          <li><a href="index.html">Quienes Somos</a></li>
          <li><a href="contacto">Contacto</a></li>
        </ul>
        <script type="text/javascript" src="js/nav.js"></script>
      </div><!-- end h_menu4 -->
      <div class="clearfix"></div>
      </div>
    </div>
      {% block body %}{% endblock %}
    <div class="clearfix"> </div>
<div class="footer_top text-center">
  <div class="container">
    <div class="col-xs-4">
      <div class="fb">
          <a href="#"><i class="fa fa-facebook fb1"></i>
            <br><span>Facebook</span>
          </a>
            </div>        
    </div>
    <div class="col-xs-4">
      <div class="fb">
          <a href="#"><i class="fa fa-twitter fb1"></i>
            <br><span>Twitter</span>
          </a>
            </div>        
    </div>
    <div class="col-xs-4">
      <div class="fb">
          <a href="#"><i class="fa fa-google-plus fb1"></i>
            <br><span>Google</span>
          </a>
            </div>        
    </div>
  </div>
</div>
<div class="footer_bottom">
  <div class="container">
    <div class="col-md-4 box_3">
      <h3>About Us</h3>
      <ul id="general-info">
        <li><i class="fa fa-gamepad"> </i> </i>On the other hand, we denounce</li>
        <li><i class="fa fa-trophy"> </i>At vero eos et accusamus et iusto </li>
        <li><i class="fa fa-clock-o"> </i>But I must explain to you how all</li>
      </ul>
    </div>
    <div class="col-md-4 box_3">
      <h3>Twitter Widget</h3>
        <div class="footer-list">
        <ul>
          <li class="list_top"><i class="fa fa-twitter twt"></i>
          <p>Lorem ipsum <span class="yellow"><a href="#">consectetuer</a></span>vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatu</p></li><p></p>
        </ul>
         </div>
    </div>
    <div class="col-md-4 box_3">
      <h3>Contact Info</h3>
        <ul id="general-info">
        <li><i class="fa fa-mobile mobile1"> </i> </i> </i>00-4542-4587</li>
        <li><i class="fa fa-envelope-o"></i><a href="mailto:info@mycompany.com">info(at)mycompany.com</a></li>
       </ul>
    </div>
    <div class="clearfix"> </div>
    <div class="copy">
       <p>© 2015 All Rights Reseverd Design by <a href="http://w3layouts.com/">W3layouts</a> </p>
    </div>
  </div>
</div>
<link href="css/flexslider.css" rel='stylesheet' type='text/css' />
                <script defer src="js/jquery.flexslider.js"></script>
                <script type="text/javascript">
                $(function(){
                  SyntaxHighlighter.all();
                });
                $(window).load(function(){
                  $('.flexslider').flexslider({
                  animation: "slide",
                  start: function(slider){
                    $('body').removeClass('loading');
                  }
                  });
                });
                </script>

    </body>
</html>
