{% extends '::base.html.twig' %}
  {% block body %}
  <div class="content_top">
    <div class="content_bottom">
      <div class="container">
        <h2 class="heading" style="visibility: visible;">Futbol 11</h2>
        </div>
      </div>
    </div>
{% endblock %}       